@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
	font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.Navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-left: 10px;
}

.Navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 3rem;
  padding-right: 20px;
}

 a {
  text-decoration: none;
}

.Main-header {
  font-size: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  
}

.image-slider {
  margin-top: 30px;
}

.Main-header-title {
  line-height: 105px;
  font-weight: 700;
  margin-bottom: 0;
}

.title-styling {
  color: rgba(69, 84, 221, 1);
}

small {
  font-size: 22px;
  line-height: 0;
  margin-top: 0;
}